# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore environment variables and sensitive files
.env

#Ignore Idea
.idea/

# Ignore system files (for macOS & Windows)
.DS_Store
Thumbs.db

# Ignore virtual environment (if used)
venv/
.env/
.venv/
.conda/
myenv/

# Ignore dependency installations
*.egg-info/


#Ignore logs and temparory files
pandasai.log
temp.csv

# igmore ipynb
test.ipynb
final.ipynb


# ignore sample dataset
hotel_bookings.csv
temp_chart.png

error_logs/